h5py
numpy
numpydoc
opencv-python==4.9.0.80
opencv-python-headless==4.11.0.86
openpyxl
openslide-bin==4.0.0.11
openslide-python==1.4.1
pandas
pytorch-lightning==2.6.1
PyYAML
timm==1.0.12
torch==2.2.2
torchdata==0.7.1
torchmetrics==1.9.0
torchvision==0.17.2
